* {
    border: none;
    font-family: "JetBrainsMono NF";
    font-weight: normal;
    font-size: 20px;
    min-height: 0;
}
window#waybar {
    background: rgba(30,30,46,0.8);
    color: #89b4fa;
    border-width: 2px;
    border-color: #33ccff; /* #595959 grigino */
    border-style: solid;
    border-radius: 10px;
}
#workspaces button {
    padding: 5px;
    color: #89b4fa;
}
#workspaces button.active {
    background: #33ccff; 
    margin: 5px;
    color: rgba(30,30,46,1.0);
}
tooltip {
    background: #1e1e2e;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}
tooltip label{
    color: #cdd6f4;
}
#clock {
    margin-right: 24px;
    margin-left: 16px;
    font-size: 32px;
}
#window,
#cpu,
#disk,
#battery,
#tray,
#temperature,
#bluetooth,
#backlight,
#cpu,
#window,
#network,
#window {
    margin-right: 16px;
}
#memory,
#workspaces {
    margin-left: 42px;
    margin-right: 16px;
}
#cpu {
    margin-left: 16px;
}
#battery.warning{
  color: #fdfd96
}
#battery.critical{
  color: #ff6961;
}
#battery {
    color: #02C39A;
}
#temperature.critical {
    color: #e92d4d;
}
#backlight {
    color: #89b4fa;
}
#network {
    color: #EFBE7D;
}
#bluetooth {
    color: #a6e3a1;
}
